openapi: 3.1.0
info:
  title: Canvas API
  version: 1.0.0
servers:
  - url: "https://cbscanvas.instructure.com/api/v1/"
    description: "Canvas API Base URL for CBSCanvas"
paths:
  /courses/{course_id}:
    get:
      operationId: "getCourseDetails"
      summary: Get course details
      description: Retrieve details for a specific course.
      parameters:
        - in: path
          name: course_id
          required: true
          schema:
            type: integer
          description: The ID of the course.
      responses:
        '200':
          description: Details of the course
          content:
            application/json:
              schema:
                type: object
      security:
        - BearerAuth: []
  /courses/{course_id}/files:
    get:
      operationId: "getFiles"
      summary: Get files for a course
      description: Retrieve files (such as lecture PowerPoints or instructions) for a specific course.
      parameters:
        - in: path
          name: course_id
          required: true
          schema:
            type: integer
          description: The ID of the course.
      responses:
        '200':
          description: A list of files
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
        - BearerAuth: []
components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
